:root {
	--pink: rgb(250, 61, 225);
	--blue: rgb(73, 99, 247);
}

@font-face {
	font-family: "Aight";
	src: url("/assets/aaaiight.ttf");
}

@font-face {
	font-family: "JoseFernandez";
	src: url("/assets/JoseFernandez.ttf");
}

@font-face {
	font-family: "TolkeinDwarf";
	src: url("/assets/dwarf.ttf");
}

body {
	background-color: yellow;
	font-family: "JoseFernandez", sans-serif;
}

footer {
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	padding: 0.75rem 1rem;
	box-sizing: border-box;
	z-index: 1000;
}

#title {
	font-family: "Aight", sans-serif;
	margin-top: 0px;
	margin-bottom: -40px;
	color: var(--pink);
	font-size: 6em;
}

#subtitle {
	color: rgb(154, 35, 158);
	font-size: 3em;
}

#date {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	text-align: center;
}

#solstic_month,
#solstic_number,
#solstic_rune {
	color: var(--blue);
}

#solstic_rune {
	font-family: "TolkeinDwarf", sans-serif;
}

#all_rune_months {
	font-size: 2em;
	font-family: "TolkeinDwarf", sans-serif;
}

#solstic_day {
	color: cornflowerblue;
}

#all_rune_months svg {
	width: 1em;
	height: 1em;
}
