body {
	background-color: yellow;
}

#title {
	margin-bottom: -16px;
	color: rgb(250, 61, 225);
}

#subtitle {
	color: rgb(154, 35, 158);
}

#date {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
    text-align: center;
}

#solstic_month, #solstic_number {
    color:rgb(73, 99, 247)
}

#solstic_day {
    color:cornflowerblue
}