:root {
	--orange: #ce4a20;
	--yellow: #d9ad2b;
	--red: #592925;
}

@font-face {
	font-family: "Aight";
	src: url("/fonts/aaaiight.ttf");
}

@font-face {
	font-family: "JoseFernandez";
	src: url("/fonts/JoseFernandez.ttf");
}

@font-face {
	font-family: "TolkeinDwarf";
	src: url("/fonts/dwarf.ttf");
}
@font-face {
	font-family: "Hardkaze";
	src: url("/fonts/HARDKAZE.TTF")
}

#all_rune_months svg {
	width: 1em;
	height: 1em;
}

body {
	background-color: #ded1bc;
	font-family: "JoseFernandez", sans-serif;
	font-size: 12px;
}
